@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

h1 {
    @apply mb-6 font-semibold;
}

@layer components {
    .cart-amount {
        @apply bg-white shadow-md rounded-lg p-4;
    }

    .overview {
        @apply bg-white shadow-md rounded-lg p-4 w-full lg:w-[30%] h-full space-y-4;
    }

    .card {
        @apply shadow-lg h-full  rounded-lg bg-white flex flex-col justify-between p-8 mb-16 sm:p-4;
    }

    .rating {
        @apply flex justify-end items-center gap-2;
    }

    .btn {
        @apply bg-[#12b488] border border-white duration-300 text-white px-3 py-2 rounded-md text-sm;
    }

    .btn:hover {
        @apply bg-white text-[#12b488] border border-[#12b488];
    }
}

.loader {
    @apply flex justify-center items-center rounded-[50%] w-[24px] h-[24px] m-auto;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
