@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

h1 {
    @apply mb-6 font-semibold;
}

@layer components {
    .title-container {
        @apply bg-white shadow-md rounded-lg p-6 mb-6;

        h1 {
            @apply font-bold text-2xl lg:text-3xl;
        }
    }

    .card {
        @apply shadow-lg h-full  rounded-lg bg-white flex flex-col justify-between p-8 mb-16 sm:p-4;
    }

    .rating {
        @apply flex justify-end items-center gap-2;
    }

    .btn {
        @apply bg-primary border border-white duration-300 text-white px-3 py-2 rounded-md text-sm;
    }

    .btn:hover {
        @apply bg-white text-primary border border-primary;
    }
}

.loader {
    @apply flex justify-center items-center rounded-[50%] w-[24px] h-[24px] m-auto;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
}

.loader-primary {
    @apply flex justify-center items-center rounded-[50%] w-[150px] h-[150px] m-auto;
    border: 8px solid rgba(18, 180, 136);
    border-top: 8px solid white;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-screen {
    @apply flex justify-center;
    height: calc(100vh - 156px);
}

.checkbox {
    @apply relative pl-[35px] flex items-center cursor-pointer;

    input {
        @apply absolute h-0 w-0 cursor-pointer;

        &:checked ~ .check {
            @apply bg-primary border-transparent;

            &::after {
                @apply content-[""] absolute w-[7px] h-[13px] left-[7px] top-[3px] rotate-45 border-white;
                border-width: 0 3px 3px 0;
            }
        }
    }

    .check {
        @apply absolute h-[23px] w-[23px] bg-white border border-gray-400 rounded-[50%] top-0 left-0 duration-200;
    }
}

.custom-radio {
    label {
        @apply relative flex;
    }

    .radiobutton {
        @apply flex items-center gap-3 border-b border-b-gray-200 pb-4 mb-4 font-semibold;

        &:last-of-type {
            @apply border-0 pb-0 mb-0;
        }

        input[type="radio"] {
            appearance: none;
            -webkit-appearance: none;

            &::before {
                @apply content-[''] block h-[18px] w-[18px] border-2 border-gray-400 rounded-[50%];
            }

            &:checked::before {
                @apply bg-white border-primary;
            }

            &:checked::after {
                @apply content-[''] absolute left-[4px] top-[7px] bg-primary h-[10px] w-[10px] rounded-[10px];
            }
        }

        span {
            @apply flex gap-3;
        }

        svg {
            @apply border border-gray-200 px-1.5;
        }
    }
}
